h1, h2, h3 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #333;
}

.list-group-item {
  font-size: 1.2rem;
  text-align: center;
}

.card {
  border-radius: 10px;
}

.card-body {
  max-height: 300px;
  overflow-y: auto;
}

.badge {
  font-size: 1.2rem;
}
