<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card m-auto" style="width: 18rem;"
                [ngStyle]="{'background-color': element.serverStatus === 'active' ? 'green' : (element.serverStatus === 'inactive' ? 'red' : 'orange')}"
                [ngClass]="{'bg-success': element.serverStatus === 'active', 'bg-danger': element.serverStatus === 'inactive', 'bg-warning': element.serverStatus === 'critical'}">
                <div class="card-body m-auto">
                    <h5 class="card-title">{{element.serverName}} - {{element.serverStatus}} </h5>
                    <p class="card-text">{{element.serverContent}}</p>
                </div>
            </div>
        </div>
    </div>
</div>