<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card m-auto" style="width: 18rem;"
                [ngStyle]="{'background-color': element.serverStatus === 'active' ? 'green' : (element.serverStatus === 'inactive' ? 'red' : 'orange')}"
                [ngClass]="{'bg-success': element.serverStatus === 'active', 'bg-danger': element.serverStatus === 'inactive', 'bg-warning': element.serverStatus === 'critical'}">
                <div class="card-body m-auto">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>